<div data-dojo-attach-point="domNode" class="gisw-window">
  <div data-dojo-attach-point="titleBar" class="gisw-window-titlebar">
    <div data-dojo-attach-point="titleDiv">
      ${title}
    </div>
  </div>
  <div data-dojo-attach-point="windowShade" style="overflow:hidden;">
    <div data-dojo-attach-point="panelNode"
      class="gisw-window-panel"
      style="position:relative;">
      <div data-dojo-attach-point="containerNode"
        style="overflow-y:scroll;">
      </div>
    </div>
  </div>
</div>
